:root{
    --background: rgb(221, 230, 237);
    --headerBackground: rgb(39, 55, 77);
    --altRowColor: rgb(210, 215, 225);
    --rowHover: rgb(169, 169, 169);
}

body {
    background-color: var(--background);
}

.user-leaderboard-container {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 1px 15px;
    width: 80%;
    margin: auto;
}

.user-leaderboard-table-container,
.user-teams-table-container {
    width: 100%; 
    max-height: 42px;
    border: 3px solid var(--headerBackground);
    box-shadow: 0 0 15px var(--headerBackground);
    border-spacing: 0;
    text-shadow: 0px 1px 2px var(--headerBackground);
    color: var(--headerBackground);
}

.user-leaderboard-table-container th,
.user-leaderboard-table-container td {
    padding: 12px;
    text-align: center;
    max-height: 42px; 
    font-weight: bold;
    text-shadow: 0px 1px 2px var(--headerBackground);
    color: var(--headerBackground);
}

.user-teams-table-container th,
.user-teams-table-container td {
    padding: 12px;
    text-align: center;
    max-height: 42px;
}

/*name*/
.user-teams-table-container th:nth-child(1) { width: 20%; }
/*wins*/
.user-teams-table-container th:nth-child(2) { width: 15%; }
/*losses*/
.user-teams-table-container th:nth-child(3) { width: 15%; }
/*division winner*/
.user-teams-table-container th:nth-child(4) { width: 20%; }
/*playoff berth*/
.user-teams-table-container th:nth-child(5) { width: 15%; }
/*total score*/
.user-teams-table-container th:nth-child(6) { width: 15%; }

.user-leaderboard-table-header th {
    background-color: var(--headerBackground);
    color: var(--background);
}

.user-leaderboard-table-body .user-leaderboard-table-row:nth-child(even) {
    background-color: var(--altRowColor);
}

.user-leaderboard-table-body .user-leaderboard-table-row:hover {
    background-color: var(--rowHover);
}

.user-teams-table-header th {
    background-color: var(--headerBackground); 
    color: var(--background);
}

.user-teams-table-body .user-teams-table-row:nth-child(even) {
    background-color: var(--altRowColor);
}

.user-teams-table-body .user-teams-table-row:hover {
    background-color: var(--rowHover); 
}
    
@media (max-width: 768px) { /* Adjust the max-width as needed */
    .user-leaderboard-container {
        grid-template-columns: 1fr;
        gap: 15px 0;

    }
    .user-leaderboard-table-container{
        max-width: 300px;
    }
}
 
.score-bar-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: baseline;
}

.score-bar {
    background-color: var(--headerBackground);
    border: 1px solid var(--headerBackground);
    box-shadow: 0 0 5px var(--headerBackground);
    border-radius: 15px 15px;
    animation: glow 1s infinite alternate;
}

.score-value {
    white-space: nowrap;
    padding-left: 10px;
}

  
@keyframes glow {
    from {
      box-shadow: 0 0 1px -1px var(--headerBackground);
    }
    to {
      box-shadow: 0 0 1px 1px var(--headerBackground);
    }
}