:root{
    --background: rgb(221, 230, 237);
    --headerBackground: rgb(39, 55, 77);
    --altRowColor: rgb(157, 178, 191);
    --rowHover: rgb(169, 169, 169);
}

body {
    background-color: var(--background);
}

/* User Leaderboard Header */
.user-leaderboard-header {
    font-size: 24px;
    color: white; /* Changed to white for better contrast */
    background-color: var(--headerBackground); /* Added background color */
    margin-bottom: 20px;
    padding: 10px 0; /* Added padding for spacing */
    text-align: center;
}

/* User Teams Header */
.user-teams-header {
    font-size: 20px;
    color: white; /* Changed to white for better contrast */
    background-color: var(--headerBackground); /* Added background color */
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px 0; /* Added padding for spacing */
    text-align: center;
}

/* General Styles for User Leaderboard Table */
.user-leaderboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Aligns vertically for column direction */
    width: 60%;
    margin: auto; /* This is for horizontal centering if you remove align-items */
}

.user-leaderboard-table-container {
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.user-leaderboard-table-container th,
.user-leaderboard-table-container td {
    padding: 12px;
    text-align: center; /* Centered text */
    border-bottom: 1px solid #ccc;
}

.user-leaderboard-table-header th {
    background-color: var(--headerBackground); /* Consistent with the header */
    color: white;
}

.user-leaderboard-table-body .user-leaderboard-table-row:nth-child(even) {
    background-color: var(--altRowColor);
}

.user-leaderboard-table-body .user-leaderboard-table-row:hover {
    background-color: var(--rowHover); /* Hover effect for rows */
}

/* General Styles for User Teams Table */
.user-teams-container {
    display: inline-flex;
}

.user-teams-table-container {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px; /* Adjusted for spacing */
    margin-bottom: 20px;
}

.user-teams-table-container th,
.user-teams-table-container td {
    padding: 12px;
    text-align: center; /* Centered text */
    border-bottom: 1px solid #ccc;
}

.user-teams-table-header th {
    background-color: var(--headerBackground); /* Consistent with the header */
    color: white;
}

.user-teams-table-body .user-teams-table-row:nth-child(even) {
    background-color: var(--altRowColor);
}

.user-teams-table-body .user-teams-table-row:hover {
    background-color: var(--rowHover); /* Hover effect for rows */
}

/* Style for Playoff Birth Indicator */
.x-indicator {
    font-weight: bold;
    color: #4CAF50; /* Green color for the 'x' indicator */
}
    